{
  "extends": "airbnb",
  "env": {
    "node": true,
    "es6": true
  },
  "globals": {
    "describe": true,
    "it": true,
    "sinon": true,
    "fetch": false
  },
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  }
}
